<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.acme-corp.pdf">
    <feature extension="dita.conductor.transtype.check" value="acme-corp.pdf" type="pdf"/>
    <feature extension="dita.conductor.target.relative" value="integrator.xml" type="file"/>
    <feature extension="dita.transtype.print" value="acme-corp.pdf"/>
    <require plugin="com.antennahouse.pdf5"/>
</plugin>
